<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Guess & Draw</title>
</head>
<body>
  <div id="cover"></div>
  <div class="titleCombine">
    <div class="title" style="padding-top: 10px;">Guess & Draw </div>
    <div id="leaveButton" class="leaveBtn"><a href="/" class="btn">返回首頁</a></div>
  </div>
  
  <div class="lounge-container">
    <div class="roomAreaGrid">
    </div>
    
    <div class="flex-box">
      <div id="empty-area">
        <div id="emptyRoom">現在沒有房間</div><br>
      </div>
      <div><button id="createRoom" class="btn">創建新房間</button></div>
      <div id="createRoomDiv">
        <form id="createRoomForm">
          <div class="form-control">
            <div>
            <label for="room"><i class="fa-solid fa-door-open"></i>&ensp;房間:</label>
            <input
              type="text"
              name="room" 
              id="room"
              placeholder="輸入房間..."
              maxlength="10"
              required
            />
          </div>
            <div>            
              <label><i class="fas fa-users"></i>&ensp;人數:</label>
              <select id="numOfppl">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </select>
            </div>
          <div>
            <label><i class="fa-sharp fa-regular fa-star"></i>&ensp;得分:</label>
            <select id="score">
              <option value="70">70</option>
              <option value="100">100</option>
              <option value="120">120</option>
              <option value="150">150</option>
              <option value="180">180</option>
              <option value="240">240</option>
              <option value="360">360</option>
              <option value="480">480</option>
            </select>
          </div>
          </div>
          <button id="play" type="submit" class="btn">來玩嘍 !</button>
          <button id="cancel" class="btn">取消</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/9846da141f.js" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/lounge.js"></script>
</body>
</html>